<h1>Editing transaction</h1>

<%= render "form", movimentation: @movimentation %>

<br>

<div>
  <%= link_to "Show this transaction", @movimentation %> |
  <%= link_to "Back to transactions", movimentation_path %>
</div>
