<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>
  <p>
    <strong>movimentation:</strong>
    <%= category.movimentation.description %>
  </p>
  <p>
    <strong>user:</strong>
    <%= category.user.email %>
  </p>

</div>
